

#music-playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.music-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #eee;
}

.song {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 10px;
    width: fit-content;
}

.song img {
    width: 80px;
    height: auto;
}

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 240px;
    position: relative;
}

.song-info p {
    margin: 0;
    color: #eee;
    display: inline-block;
}

.song-info i {
    margin: 0;
    color: gray;
    display: inline-block;
}

.add-song {
    border: 2px solid #0c612c;
    background-color: #1ed760;
    border-radius: 25px;
}

.add-song p {
    text-decoration: none;
    color: #eee;
    margin: 8px 12px 8px 12px;
    font-size: 1.3rem;
}

.add-song a {
    text-decoration: none;
    color: inherit;
}

@keyframes scrollText {
    0% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(-140%);
    }
}